body {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:teal;
    font-family: sans-serif;
}
.nav-link {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-link li {
    list-style: none;
}
.heading {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

#landing {
    height: 100vh;
    width: 100%;
}

#landing img {
    height: 100vh;
    width: 100%;
}

#about{
    padding: 70px;
    background-color: aquamarine;
}

#about h1 {
    font-size: 40px;
}

#about p {
    font-size: 20px;
}

#work {
    padding: 70px;
    background-color: blueviolet;
}

#work h1 {
    font-size: 40px;
}

#work h3 {
    font-size: 30px;
}

#work p {
    font-size: 20px;
}

#resume {
    padding: 70px;
    background-color: purple;
}
.resumeContainer {
    display: flex;
}
#resume h1 {
    font-size: 40px;
}

#resume p {
    font-size: 30px;
}

.resumeImg img {
    border-radius: 50%;    
}

#contact {
    margin: 10% 15%;
}

#contact label, input {
    width: 100%;
    font-size: 20px;
}

#contact input {
    margin: 10px 0 20px 0;
}
#contact h1 {
    text-align: center;
    padding-bottom: 40px;
}

#contact button {
    width: 50%;
    margin: 5% 25% 0 25%;
    padding: 10px 0;
    font-size: 20px;
    border-radius: 10px;
}
















